.product {
    display: flex;
    justify-content: center;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 800px;
        margin-bottom: 30px;
    }
}