.header {
    top: 30px;
    left: 128px;
    position: absolute;
    display: flex;
    justify-content: space-between;

    &__menu {
        width: 355px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    &__logo {
        width: 35px;
        height: 35px;
        padding-left: 22px;
    }

    &__nav, a {
        list-style-type: none;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        padding-top: 20px;
    }


    &__nav-active {
        font-weight: 700;
    }

    &__shop {
        margin: 15px 0 0 600px;
        cursor: pointer;
    }

    &__shop-icons {
        position: relative;
    }

    &__shop-icon {
        width: 30px;
        height: 30px;
        color: #fff;
        transform: scale(1);
        transition: transform 0.3s ease-out;
    }

    &__shop-icon.clicked  {
        transform: scale(1.2);
        transition: transform 0.3s ease-out;
    }

    &__badge  {
        position: absolute;
        top: -18px;
        left: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color:brown;
        color: #fff;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .header {
        &__shop {
            margin: 15px 0 0 400px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .header {
        left: 50%;
        transform: translate(-50%, 0%);
        &__shop {
            margin: 15px 0 0 40px;
        }
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 576px) {
    .header {
        &__menu {
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            
        }
        &__logo {
            padding-left: 0;
        }
        &__shop {
            margin: 15px 0 0 10px;
        }
    }
}

@media only screen and (max-width: 420px) {
    .header {
        &__menu {
            width: 300px;
        }
        &__shop {
            margin: 15px 0 0 2px;
        }
    }
}